
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #61c0bf;
    color: #fff;
    padding: 10px 0;
}

.logo {
    margin-left: 20px;
}

.logo img {
    width: 150px; 
    height: auto; 
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu a:hover {
    background-color: #555;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 50px;
    text-align: center;
}

.home-section {
    background-image: url('pexels-lukas-317356.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 100px 0;
}

.home-section h1 {
    font-size: 48px;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 20px;
    margin-bottom: 30px;
}

.cta-btn {
    background-color: #ff6600;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.cta-btn:hover {
    background-color: #e65400;
}
